body {
    background-image: linear-gradient(-45deg, #e1e7ec 25%, transparent 25%, transparent 50%, #e1e7ec 50%, #e1e7ec 75%, transparent 75%, transparent);
}
header ,footer{
    background: #16222A;
    color: #ecf0f1;
    padding: 1rem 0;
    margin:20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 25px;
    position: relative;
    width: 95vw;
    text-align: center;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    grid-auto-flow: dense;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
}
.gallery-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px;
}
.gallery-item-wide {
    grid-column: span 2;
}
.gallery-item-very-wide {
    grid-column: span 3;
}
.gallery-item-tall {
    grid-row: span 2;
}
.gallery-item-tall img{ width:auto;height:100%; }

@media (max-width: 990px) {
    header ,footer{
        margin:20px 0;
        width: 100vw;
    }
    .gallery-item-wide, .gallery-item-very-wide, .gallery-item-tall {
        grid-column: span 1;
        grid-row: span 1;
    }
    .gallery-item-wide img, .gallery-item-very-wide img, .gallery-item-tall img{
        min-height: 90%;
        max-width: 200%;
        width: auto;
    }
}

/* aca agregue el modal, no es parte del ejercicio pero queda mucho mejor :-) */
.gallery-item img { transition: 0.3s; }
.gallery-item img:hover {opacity: 0.7;}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 3vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}
#imagenModal {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#textoModal {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
#imagenModal, #textoModal {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
#cerrar {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
#cerrar:hover,
#cerrar:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 700px){
  #imagenModal {
    width: 100%;
  }
}