#darthvader{
	font-size: 150%;
}
#luke{
	font-style: italic;
}
.imperio{
	background-color: red;
}
.rebeldes{
	background-color: blue;
}
.soldado{
	border: 5px dashed green;
}
.soldado-text{
	letter-spacing: 1em;
}
.apoyo{
	text-align: center;
}
.nave{
	text-transform: uppercase;
}
